# ============================================
# CONFIGURACIÓN DEL SERVIDOR
# ============================================
PORT=3000

# ============================================
# CONFIGURACIÓN DE BASE DE DATOS (PostgreSQL)
# ============================================
DB_HOST=tu_servidor.postgres.database.azure.com
DB_PORT=5432
DB_NAME=nombre_base_datos
DB_USER=usuario
DB_PASSWORD=contraseña

# Cadena de conexión completa (usada por el Pool de pg)
DB_URL=postgres://usuario:contraseña@tu_servidor.postgres.database.azure.com:5432/nombre_base_datos?sslmode=require

# Cadena de conexión para Prisma ORM
DATABASE_URL="postgresql://usuario:contraseña@host:5432/nombre_base_datos?schema=public"

# ============================================
# SEGURIDAD Y JWT
# ============================================
JWT_SECRET=
JWT_EXPIRES_IN=24h

# ============================================
# CONFIGURACIÓN SMTP (Nodemailer)
# ============================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password

# ============================================
# CLOUDINARY (subida de imágenes)
# ============================================
CLOUD_NAME=tu_cloud_name
CLOUD_KEY=tu_api_key
CLOUD_SECRET=tu_api_secret
